@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 15px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

a:hover,
.fa {
  cursor: pointer;
}

section.header {
  background-color: white;
  border-bottom-left-radius: 7.33rem;
  padding-top: 4.6rem;
  padding-top: 3.86rem;
  padding-top: 2.76rem;
  height: calc(100vh - 0.3rem);
  height: calc(100vh - 1rem);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;
  margin-bottom: 10px;
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
}

.logo a {
  color: #6070ff;
}

.nav-links.mobile {
  display: none;
  flex-direction: column;
  padding: 30% 0 0 5%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #6070ff;
  opacity: 0.9;
  width: 100%;
  height: 100vh;
}

.nav-links.mobile .links {
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin-bottom: 43px;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
}

.nav-links.desktop {
  display: none;
}

.cancel {
  color: white;
  position: absolute;
  right: 8%;
  top: 8%;
  display: none;
  font-size: 35px;
}

.fa-bars {
  color: #6070ff;
}

div.headline {
  background-image: url("./images/header-shapes-mobile.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  padding: 50px 7% 0 7%;
  height: calc(100vh - 7rem);
}

h1,
h2,
h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 2.66rem;
  color: #344563;
}

.headline-alexandra_big {
  display: none;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 1.066rem;
  line-height: 1.6rem;
  color: #344563;
}

.connect {
  font-style: normal;
  font-weight: 500;
  font-size: 1.066rem;
  line-height: 1.6rem;
  color: #7f8cff;
}

.connect a.connected {
  color: #7f8cff;
}

.icons {
  display: flex;
  gap: 0.66rem;
}

.icons .link {
  color: #505f79;
  font-size: 1.066rem;
  font-size: 1.5rem;
}

.icons img {
  width: 20px;
  height: 16px;
}

/* WORKS SECTION */
section.works {
  margin: 7.6rem 24px 0 24px;
  display: grid;
  grid-row-gap: 6.933rem;
}

.tonic {
  background: white;
  padding: 1.066rem;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

section.works .tonic .desktop {
  display: none;
}

.tonic img {
  width: 100%;
  margin-bottom: 0.8rem;
}

.tonic h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.tonic .back {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.tonic .back .circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c1c7d0;
}

.tonic p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tonic ul {
  display: flex;
  gap: 10px;
}

.tonic ul li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background-color: #ebebff;
  padding: 0.266rem 0.8rem;
  border: 1px solid #dfe1e6;
  border-radius: 0.533rem;
}

.tonic div a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  padding: 0.3rem 1rem;
  border: 1px solid #6070ff;
  border-radius: 0.53rem;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.works .tonic .right {
  display: flex;
  flex-direction: column;
  gap: 1.66rem;
}

.about {
  background-color: white;
  margin-top: 15.2rem;
  border-top-right-radius: 7.33rem;
  padding: 7.6rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.about .resume {
  margin: 2.26rem 0 4rem 0;
}

.about .resume-link {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  padding: 0.3rem 1rem;
  border: 1px solid #6070ff;
  border-radius: 0.53rem;
}

.about .modals {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.about .modals .lang {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #f7f7f9;
  padding-bottom: 0.66rem;
}

.about .modals li .lang span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.33rem;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.about .modals li {
  padding: 10px;
}

.about .modals ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.about .modals ul li {
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 0.53rem;
  gap: 0.66rem;
}

/* now */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: #c1c7d0;
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}

.pop.show {
  position: fixed;
  background-color: white;
  top: 0;
  left: 5%;
  right: 5%;
  bottom: 0;
  z-index: 2;
  margin: 4% 0;
}

.pop.tonic .right.mobile .close {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pop.tonic .right.mobile .back {
  margin-bottom: 11px;
}

.pop.tonic .right.mobile p {
  margin-bottom: 10px;
}

.pop.tonic .right.mobile .close h2 {
  font-size: 25px;
}

.pop.tonic .right.mobile .close .fa-solid {
  color: #67798e;
  font-size: 15px;
}

.pop.tonic .right.mobile .mobile img {
  height: 170px;
}

.pop.tonic .right.mobile .see .host img {
  width: 18px;
  height: 18px;
  margin-bottom: 0;
}

.pop.tonic .right.mobile .see {
  gap: 15px;
  margin-top: 10px;
  border-top: 1px solid #ebecf0;
  padding-top: 10px;
}

.pop.tonic .right.mobile .see .host,
.pop.tonic .right.mobile .see .git {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2.5px 10px;
  margin-right: 10px;
}

.pop .right.desktop {
  display: none;
}

/* contact */
.contact {
  background-color: #6070ff;
  margin-top: 11rem;
  border-top-left-radius: 7.33rem;
  padding: 20px 0 100px 0;
}

.contact div {
  padding: 7.6rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-image: url("./images/contact-form-shapes-mobile.svg");
  background-size: contain;
  background-clip: initial;
  background-repeat: no-repeat;
  background-position: right;
  height: 690px;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
}

section.contact .check p.description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  padding-bottom: 52px;
}

section.contact .check form ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section.contact .check form ul li input {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 100%;
  padding: 10px;
}

form ul li textarea {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 100%;
  padding: 10px;
  color: #b3bac5;
}

form button {
  color: #396df2;
  background-color: #fff;
  border: 1px #6070ff solid;
  height: 48px;
  width: 126px;
  left: 0;
  top: 12px;
  border-radius: 8px;
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

button:hover {
  color: #fff;
  background-color: #6070ff;
}

button:active {
  color: #fff;
  background-color: #2230d2;
}

/* now */
form .error {
  display: none;
  color: red;
  background-color: black;
  padding: 5px;
}

form .error.show {
  display: block;
}

@media screen and (min-width: 375px) {
  section.header {
    padding-top: 1.562rem;
  }

  div.headline {
    background-image: url("./images/header-shapes-mobile.png");
    background-size: contain;
    background-clip: initial;
    background-repeat: no-repeat;
    background-position: left;
  }
}

@media screen and (min-width: 375px) {
  section.header {
    padding-top: 1.562rem;
  }

  div.headline {
    background-image: url("./images/header-shapes-mobile.png");
    background-size: contain;
    background-clip: initial;
    background-repeat: no-repeat;
    background-position: left;
  }
}

@media screen and (min-width: 768px) {
  section.header {
    padding-top: 1.562rem;
    height: 100vh;
  }

  nav {
    padding: 0 4%;
  }

  nav .menu {
    display: none;
  }

  .nav-links.desktop {
    display: flex;
    gap: 32px;
    gap: 2.133rem;
  }

  .nav-links.mobile {
    display: none;
  }

  .logo {
    animation: rotate 1s linear;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .fa-bars {
    display: none;
  }

  div.headline {
    height: calc(100vh - 4rem);
    padding: 12% 10%;
    padding-bottom: 4%;
    background-size: contain;
    background-image: url("./images/Header-bg@2x.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  /* WORKS SECTION */
  section.works {
    margin: 7% 6%;
  }

  section.works .tonic {
    display: flex;
    gap: 46px;
  }

  section.works .tonic.reverse {
    flex-direction: row-reverse;
  }

  section.works .tonic .desktop {
    height: 448px;
  }

  .tonic .mobile {
    display: none;
  }

  section.works .tonic .desktop,
  .right {
    display: block;
    flex-basis: 50%;
  }

  .tonic div a:hover {
    color: #fff;
    background-color: #6070ff;
  }

  .tonic img {
    width: 100%;
    height: 100%;
    margin-bottom: 0.8rem;
    transition: transform 0.5s linear;
  }

  .tonic img:hover {
    transform: scale(1.02);
  }

  .pop.show {
    position: fixed;
    background-color: white;
    width: 80%;
    margin: 2% auto;
    z-index: 2;
  }

  .pop .right.mobile {
    display: none;
  }

  .pop .right.desktop {
    display: block;
  }

  .pop.tonic {
    height: auto;
  }

  .pop.tonic .right.desktop .close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .pop.tonic .right.desktop .back {
    margin-bottom: 15px;
  }

  .pop.tonic .right.desktop .close .fa-solid {
    color: #67798e;
    font-size: 20px;
  }

  .pop.tonic .right.desktop .desktop-image {
    height: 230px;
    margin: 0 auto;
  }

  .pop.tonic .right.desktop .details {
    display: flex;
    margin-top: 20px;
    gap: 10%;
  }

  .pop.tonic .right.desktop .details .left p {
    margin-bottom: 15px;
  }

  .pop.tonic .right.desktop .details .right .ruby {
    margin-top: 10px;
  }

  .pop.tonic .right.desktop .see {
    gap: 15px;
    margin-top: 10px;
    border-top: 1px solid #ebecf0;
    padding-top: 10px;
  }

  .pop.tonic .right.desktop .see .host,
  .pop.tonic .right.desktop .see .git {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2.5px 3px;
    margin-right: 10px;
  }

  .pop.tonic .right.desktop .see .git {
    margin-right: 0;
  }

  .pop.tonic .right.desktop .see .host img {
    margin-bottom: 0;
    width: 17px;
    height: 17px;
  }

  .pop.tonic .right.desktop .see .host span,
  .pop.tonic .right.desktop .see .git span {
    margin-right: 3px;
    font-size: 14px;
  }

  .pop.tonic .right.desktop .details .right .see {
    margin-top: 10px;
    border-top: 1px solid #ebecf0;
    display: flex;
    justify-content: start;
  }

  /* ABOUT SECTION */
  .about {
    flex-direction: row;
    padding: 7% 6%;
    margin-top: 142px;
  }

  .about h3 {
    color: #091e42;
  }

  .about .left {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .about .left .icons {
    margin-top: 14px;
  }

  .about .modals {
    flex-shrink: 2;
    flex-basis: 60%;
    gap: 1rem;
  }

  section.about .modals .lang {
    padding-bottom: 46px;
  }

  section.about .modals li .lang .spaned {
    color: #344563;
  }

  section.about .modals .lang.selected {
    border-bottom: 0;
  }

  section.about .modals li .technologies {
    flex-direction: row;
  }

  /* CONTACT SECTION */
  .contact div {
    width: 93%;
    margin: 0 auto;
    background-image: url("./images/contact-form-background-shapes@2x.png");
    background-size: 100% 100%;
    background-clip: initial;
    background-repeat: no-repeat;
    background-position: left;
    padding: 12% 25%;
    height: 800px;
  }

  .contact .check form ul li input {
    border-radius: 0;
    padding: 12px;
  }

  .contact div .button {
    text-align: center;
  }

  .contact .check p.description {
    transition: transform 0.5s linear;
  }

  .contact .check p.description:hover {
    transform: translate(10px);
  }
}
